@import url('@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&family=Roboto:ital,wght@0,400;1,300&display=swap')');
* {
  font-family: 'Roboto', sans-serif', cursive;
}
.current-weather img {
  max-width: 120px;
  margin-top: -15px;
}